<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Orders</td>
            <td>Total cost</td>
            <td>Location</td>
            <td>Status</td>


        </th>
        {% for delivery in deliveries %}
        <tr>
            <td>{{delivery.orders}}</td>
            <td>{{delivery.cost}}</td>
            <td>{{delivery.location}}</td>
            <td>{{delivery.status}}</td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>