<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Amount</td>
            <td>Date</td>
            <td>Status</td>
           


        </th>
        {% for payment in payments %}
        <tr>
            <td>{{payment.amount}}</td>
            <td>{{payment.status}}</td>
            <td>{{payment.date}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>