<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Customer name</td>
            <td>Message</td>
            <td>Time</td>
            <td>Edit</td>


        </th>
        {% for notification in notifications %}
        <tr>
            <td>{{notification.customer}}</td>
            <td>{{notification.message}}</td>
            <td>{{notification.time}}</td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>